.modal-open-html {
  overflow: hidden !important;
}

.modal-open {
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  outline: 0;
  z-index: 1072;
  &.fade {
    opacity: 0;
    transition: opacity .15s linear;
    .modal-dialog {
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out;
      -webkit-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
    &.show {
      opacity: 1;
    }
  }
  &.show {
    .modal-dialog {
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    .modal-content {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: .3rem;
      outline: 0;
      padding: 1rem;
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1071;
  background-color: #000;

  &.fade {
    opacity: 0;
    transition: opacity .15s linear;
    &.show {
      opacity: 0.6;
    }
  }
}

@media (min-width: 576px) {
  .modal {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }
}
